@import "tailwindcss";

@theme {
  --font-sans: "DM Sans", sans-serif;

  --color-primary: #2C4AD1;
  --color-secondary: #7770FF;
  --color-gradient-start: #7770FF;
  --color-gradient-end: #002B86;
}

body {
  font-family: var(--font-sans);
  color: #111;
  width: 100%;
}
* {
  font-family: 'DM Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

body {
  font-family: 'DM Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.section {
  @apply w-full ;
}

